/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

.firstname-label {
	width: 12.5%;
}

.table-striped-ctm > .row:nth-of-type(even) {
	background: #f5f5f5;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-1 {
	margin-bottom: 2px !important;
}
.mb-2 {
	margin-bottom: 4px !important;
}
.mb-3 {
	margin-bottom: 6px !important;
}
.mb-4 {
	margin-bottom: 8px !important;
}

.mb-5 {
	margin-bottom: 10px !important;
}

.mb-6 {
	margin-bottom: 15px !important;
}


.mt-0 {
	margin-top: 0 !important;
}

.mt-1 {
	margin-top: 2px !important;
}

.mt-2 {
	margin-top: 4px !important;
}

.mt-3 {
	margin-top: 6px !important;
}

.mt-4 {
	margin-top: 8px !important;
}

.mt-5 {
	margin-top: 10px !important;
}

.mt-6 {
	margin-top: 15px !important;
}

.d-flex {
	display: flex !important;
}

.justify-content-center {
	justify-content: center !important;
}

.justify-content-start {
	justify-content: flex-start !important;
}

.justify-content-end {
	justify-content: flex-end !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

.align-items-start {
	align-items: flex-start !important;
}

.align-items-center {
	align-items: center !important;
}

.align-items-end {
	align-items: flex-end !important;
}

.flex-column {
	flex-direction: column !important;
}

.flex-row {
	flex-direction: row !important;
}


.border-none {
	border: none !important;
}


/* login page css */

.custom-login-screen {
	height: 100%;
	background: #ddd;
}

	.custom-login-screen body.login {
		height: 100%;
		background-color: #fff;
		background: hsl(184deg 84% 63% / 27%) !important;
	}

.logo-anchor-wrap {
	width: 100%;
	/*max-width: 298px;*/
	margin: 0 auto;
	display: block;
	position: relative;
}

.custom-login-screen .login-form .form-actions .checkbox{
	margin-left: 21px;
}

.custom-login-screen .login .logo {
	margin: 0;
	padding-top: 105px;
	padding-bottom: 35px;
	max-width: 360px;
	margin: 0 auto;
}

.card-elevated-1 {
	box-shadow: 1px 2px 5px 0px rgb(0 0 0 / 18%);
}

.login .copyright {
	color: #757575;
}

.orange {
	background-color: #f5821f;
	color: #fff;
}

@media(max-width: 480px) {
	.custom-login-screen .login .logo {
		padding-top: 55px;
	}
}


/* login page css ends*/
.position-relative {
	position: relative !important;
}

.project-listing-table-wrapper .custom-select {
	position: absolute;
	right: 60px;
	top: 3px;
	width: 100px;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
	float: left;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
	margin-left: 10.5px;
}

.page-header.navbar .page-logo {
	width: 85px;
}

.dashboard-logo-wrap img {
	margin-top: 5px !important;
}

.dashboard-logo-wrap {
}

.custom-login-screen body.login {
	background-color: #fff !important;
}

/* general css */
.w-100-p{
	width: 100% !important;
}

.w-auto {
	width: auto !important;
}

.page-header.navbar {
	background-color: #fff;
	box-shadow: 0px -12px 20px 0px #101010;
	color: #101010;
}


@media(min-width: 768px) {
	.container {
		max-width: 750px;
		width: auto;
	}
}
@media(min-width: 992px) {
	.container {
		max-width: 970px;
		width: auto;
	}
}
@media(min-width: 1200px) {
	.container {
		max-width: 1170px;
		width: auto;
	}
}

.btns-group-ctm_flex{
	display: flex;
	gap: 10px;
	flex-direction: row;

}


@media(max-width: 767px) {

	.btns-group-ctm_flex {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}
}





/* general css ends */
