﻿@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/muli/Muli-Regular.ttf");
}

@font-face {
    font-family: "Muli-SemiBold";
    src: url("../fonts/muli/Muli-SemiBold.ttf");
}

@font-face {
    font-family: "Muli-Bold";
    src: url("../fonts/muli/Muli-Bold.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



input, textarea, select, button {
    font-family: "Muli-Regular";
    color: #333;
    font-size: 13px;
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

.wrapper {
    min-height: 87vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.inner {
    max-width: 70vw;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 48px;
    
}

    .inner h3 {
        text-transform: uppercase;
        font-size: 22px;
        font-family: "Muli-Bold";
        text-align: center;
        margin-bottom: 32px;
        color: #333;
        letter-spacing: 2px;
    }



.form-group {
    display: flex;
}

    .form-group .form-wrapper {
        width: 50%;
    }

        .form-group .form-wrapper:first-child {
            margin-right: 20px;
        }

.form-wrapper {
    margin-bottom: 17px;
}

    .form-wrapper label {
        margin-bottom: 9px;
        display: block;
    }

.form-control {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-family: "Muli-Bold";
    background: none;
}

    .form-control:focus {
        border: 1px solid #ae3c33;
    }

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px;
}

    select option[value=""][disabled] {
        display: none;
    }

.checkbox {
    position: relative;
}

    .checkbox label {
        padding-left: 22px;
        cursor: pointer;
    }

    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

        .checkbox input:checked ~ .checkmark:after {
            display: block;
        }

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 13px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-family: Material-Design-Iconic-Font;
    color: #000;
    font-size: 10px;
    font-weight: bolder;
}

    .checkmark:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        content: '\f26b';
    }

@media (max-width: 991px) {
    .inner {
        min-width: 768px;
    }
}

@media (max-width: 767px) {
    .inner {
        min-width: auto;
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    
}

/*# sourceMappingURL=style.css.map */
