﻿@using Microsoft.Extensions.Options
@*@inject IOptions<DisplayFormat> Format*@
@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@
@{
    var UserIsAdmin = User.IsInRole("Admin");
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - AuditCAP</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/assets/theme/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/theme/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/assets/theme/global/plugins/jquery.min.js"></script>
    <script src="~/assets/theme/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/assets/theme/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/theme/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/assets/theme/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/theme/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/assets/theme/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/theme/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <!-- END THEME STYLES -->

    @*<link rel="shortcut icon" href="~/favicon.ico" />*@

</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-fixed page-sidebar-closed-hide-logo" style=" overflow-x: hidden; overflow-y: auto;">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">

                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->

                </div>

            </div>
            <a href="@Url.Action("ProjectOverview", "")" class="dashboard-logo-wrap">
                <img src="~/assets/img/dashboard-logo-colored.png" alt="logo" class="logo-default" />
            </a>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="separator hide">
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">

                <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="start ">
                        <a href="@Url.Action("ProjectOverview", "")">
                            <i class="icon-home"></i>
                            <span class="title">Project Overview</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ClientOverview", "")">
                            <i class="fa fa-columns"></i>
                            <span class="title">UTM Builder</span>
                        </a>
                    </li>

                

                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content" style="min-height: calc(100vh - 79px)">
                <div class="row">
                    <div class="col-md-12">
                        <main role="main" class="pb-3 col-md-12">
                           
                            @RenderBody()
                        </main>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            <a href="http://www.syndstrat.com"> 2021 &copy; Syndicate Strategies</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/theme/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/assets/theme/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/assets/theme/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/assets/theme/admin/layout/scripts/Init.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <!-- END CORE PLUGINS -->

    <script>
        jQuery(document).ready(function () {


            // initiate layout and plugins
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout

            Demo.init(); // init demo features


        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>